
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<!--
    <script type="text/javascript">
    
        function filterFunct(divId, inpId) {
        /* displays the account list on a given div, query performed on data typed on given inp */
            var fd = new FormData();
            fd.append("name", $("#" + inpId).val());
            
            $.ajax({
                type: "POST",
                url: "/std_list",
                data: fd,
                processData: false,
                contentType: false,
                success: function(result){
                     $("#" + divId).html(result)
                    
                }
            });
        };
    
        function selectObj() {
                $("#std_name").val($(event.target).text());
                $("#std_no").val($(event.target).val());
                $("#btn-srch").focus()
         };
    </script>
-->
{% endblock %}
<script type="text/javascript">
$(document).ready(function() {
            $('form.hp-srch').on('submit', function(event){ 
                if (  !$(this).find('#obj_id').val() ){
                    alert("Please select from the list");
                    event.preventDefault();
                    return
                };
            });
        })
 
</script>

   <body>
   <div class="container">
    <div class="jumbotron netkent xl-2" >
        <div class="row">
        <div class="col-md-2 text-left home-icon">
                <a class="btn  m-2" href="/"  title="Home Page">
                    <img src="{{url_for('static', filename='sample_logo.png')}}">
                </a>
        </div>
        <div class="jumbo-baslik col-xl-6 mt-5">
        <div style="vertical-align: bottom;">

            <h4>Sample University Course Content Pages<h4>
        </div>
        </div>
        <div class="col-xl-4">
            <div class="dropdown" style="text-align:right">
            {%if session.get("user") %}
                user: {{session.user.username}} 
        <!--        Kullanıcı:<a class="dropdown-toggle" data-toggle="dropdown">{{session.user.preferred_username}}</a> -->
        <!--        Kullanıcı:<a class="dropdown-toggl" data-toggle="dropdown">personals.name</a> -->
        <!--        <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/logout">Çıkış Yap</a></li>
                </ul> -->
<!--
                <a class="btn btn-aksiyon" href="/logout">Çıkış Yap</a>
-->
            {% endif %}
            </div>
              <form  class="form hp-srch" action = "/change_user" method = "POST"> 
                  {% set list_url = "/usr_list" %}
                  {% set obj_placeholder = "Type characters to select from list" %}   
                  {% set btn_content = "Select User" %}           
                  {% include "listtemplate.html" %}
    
              </form> 
        </div>
        </div> 
        <div class="err-display">
            {% if error %}
                {{error_message}}
            {% endif %}
        </div>        
    </div>
    {%block content %}{% endblock %}
    </div>
   </body>
</html>
